# Python
.venv/
venv/
__pycache__/
*.pyc

# macOS
.DS_Store

# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# Downloaded build dependencies
EcommerceClickStreamPipeline/terraform/jars/
